li{
    list-style: none;
}

.header{
    position: relative;
}

header{
    width: 100%;
    display: flex;
    /* position: absolute; */
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    padding: 10px 80px;
    z-index: 5;
}

nav ul{
    display: flex;
}

ul li a{
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin: 0 20px;
}